@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

@import url('https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css');

@import "vuetify/dist/vuetify.min.css";
